@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply font-sans;
}

.ui-btn-primary {
  @apply inline-flex items-center justify-center rounded-lg px-4 py-2 bg-cyan-500/90 hover:bg-cyan-500 text-sm font-medium text-white transition disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-grad {
  background-image: linear-gradient(to right,
      #83a4d4 0%,
      #b6fbff 51%,
      #83a4d4 100%);
  background-size: 200% auto;
  color: white;
  padding: 14px 40px;
  border-radius: 15px;
  text-transform: uppercase;
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-grad:active,
.btn-grad:focus-visible {
  background-position: right center;
  transform: scale(0.97);
}

.rounder {
  border-radius: 20px;
}

.perspective-1000 {
  perspective: 1000px;
}

.auth-input {
  @apply w-full mt-0.5 px-8 py-1 rounded-xl bg-white/10 backdrop-blur-md border border-white/30 text-white placeholder-white/50 focus:outline-none focus:ring-2 focus:ring-cyan-300 focus:border-cyan-300;
}

.auth-select {
  @apply w-full text-sm px-4 py-2 pr-10 rounded-lg bg-white/5 border border-white/20 text-white focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:border-cyan-400 transition;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Remove number input spinners (Chrome, Edge, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input spinners (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}



.auth-select option {
  background-color: #0f172a;
  color: #e5e7eb;
}

.license-plate {
  @apply inline-flex items-center bg-gray-100 text-black rounded-sm font-bold font-mono tracking-widest text-sm border-[1.5px] border-black shadow-sm ring-1 ring-white ring-offset-0 overflow-hidden;
}

.license-plate-ind {
  @apply flex flex-col items-center justify-center px-1 py-0.5 bg-gray-50 border-r border-gray-300 leading-none;
}

.license-plate-ind-dot {
  @apply w-2 h-2 bg-blue-700 mb-0.5 rounded-[1px];
}

.license-plate-ind-text {
  @apply text-[7px] font-extrabold text-blue-800;
}

.license-plate-number {
  @apply px-2 py-1 uppercase whitespace-nowrap;
}


:root {
  --bg-main: #0b1220;
  --bg-surface: #0f172a;
  --bg-card: #111827;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --accent: #22d3ee;
  --accent-soft: rgba(34, 211, 238, 0.15);

  --danger: #ef4444;
  --success: #22c55e;
}